.artistWrap {
  height: 100%;
  width: 100%;

  h3 {
    // margin-top: 30px;
    font-size: 26px;
    margin-bottom: 30px;
  }

  em {
    font-size: 16px;
    color: #1dd960;
    margin-left: 5px;
  }

  .artistinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

    a {
      width: 236px;

      .artist {
        /* width: 70%; */
        position: relative;
        /* margin-bottom: 20px; */
        border-radius: 15px;
        cursor: pointer;
        border: 1px solid #252525;
        overflow: hidden;

        audio {
          position: absolute;
          width: 100%;
          height: 30px;
          left: 0;
          bottom: -41px;
        }

        &::before {
          content: '';
          position: absolute;
          background: #000;
          width: 8px;
          height: 31px;
          top: 12px;
          right: 25px;
          border-radius: 100px;
          transform: rotate(45deg);
          z-index: 1000;
        }

        &:hover {
          transform: translatey(-10px);
          transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
          border: 1px solid #1cd961;
          img {
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: scale(1.2);
          }
          &:active {
            box-shadow: 0 20px 50px -20px #1cd96191;
            transform: translatey(-10px) scale(1.05);
          }
        }
        &:not(:hover) {
          transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
          img {
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }

        > img {
          width: 100%;
          border-radius: 15px;
          height: 341px;
          object-fit: cover;
        }

        .artistbox {
          padding: 20px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 126px;
          -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
          box-sizing: border-box;
          border-radius: 0px 0px 10px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: linear-gradient(359deg, #505050 10%, transparent);

          p {
            color: rgba(255, 255, 255, 0.738);
            // font-size: 14px;
            font-size: 14px;
          }

          h4 {
            font-size: 22px;
            color: #fff;
            // margin-bottom: 20px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .like {
            display: flex;

            img {
              width: 24px;
              height: 20px;
              border-radius: 0;
            }

            p {
              margin-left: 10px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

#contents {
  .more_btn {
    padding: 20px;
    background: #202023;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0 220px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      background: #4c4c53;
    }
    &.disabled {
      cursor: auto;
      background: #0e0e0f;
      color: #4c4c58;
    }
  }
}

.a_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#main {
  #contents {
    .detail_container {
      width: 100%;
      position: relative;
      .detail_title_container {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        p {
          color: #1cd961;
          text-transform: uppercase;
          font-weight: 900;
        }
        h2 {
          font-size: 42px;
          font-weight: 900;
        }
      }
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, black 5%, transparent);
      }
      .detail_cover_image {
        width: 100%;
        height: 730px;
        object-fit: cover;
        object-position: 0 -210px;
        border-radius: 20px;
      }
    }
    .artist_song_item {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
      height: 120px;
      justify-content: space-between;
      .item_info_container {
        display: flex;
        gap: 20px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 109px;
          height: 109px;
          // background: red;
        }
        img {
          border-radius: 10px;
        }
        .item_info_container_text {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          p {
            &:first-child {
              color: #1cd961;
              text-transform: uppercase;
              font-weight: 900;
            }
            &:last-child {
              color: white;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }
      .item_share_container {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 10px;
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 10px 20px;
          border-radius: 100px;
          border: 1px solid #ffffff21;
          transition: 0.25s;
          img {
            width: 17px;
          }
          &:hover {
            background: #1cd961;
            color: black;
          }
        }
      }
    }
  }
}

.main_artist_cont {
  .main_artist_inner {
    .main_artist_item_container {
      grid-template-columns: repeat(8, 1fr);
      display: grid;
      grid-gap: 10px;
      height: 250px;
      .main_artist_item {
        display: flex;
        flex-direction: column;
        /* width: 138px; */
        /* height: 200px; */
        border-radius: 100px;
        position: relative;
        .artist_like_container {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translate(-50%, 0);
          // color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 1;
          .icon {
            width: 19px;
            margin-bottom: 5px;
          }
          .count {
            font-weight: bold;
          }
          .type {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.468);
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 0px;
          right: 0px;
          background: #1cd961;
          height: 25px;
          width: 3px;
          border-radius: 100px;
          transform: rotate(45deg);
        }

        > img {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          object-fit: cover;
          border-radius: 100px;
        }

        .artist_info_container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          height: 100%;
          padding: 0 10px;
          background: #00000066;
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: center;
          transition: 0.25s;
          color: white;
          border-radius: 100px;
          line-height: 1;
          .artist_eng_name {
            text-transform: uppercase;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.5);
            text-align: left;
          }
          .artist_name {
            font-weight: bold;
            text-align: left;
            font-size: 18px;
          }
          .artist_like_container {
            display: flex;
            // gap: 5px;
            align-items: center;
            flex-direction: column;
            img {
              height: 15px;
              width: 15px;
              object-fit: contain;
              position: static;
              filter: brightness(0.4);
            }
            p {
              // color: #125727;
            }
          }
        }

        &:hover {
          .artist_info_container {
            opacity: 1;
          }
        }
      }
    }

    .artist_more {
      background: #101010;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      color: white;
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  }
}
