#main {
  #contents {
    .more_btn {
      padding: 20px;
      background: #202023;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0 220px;
      cursor: pointer;
      transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        background: #4c4c53;
      }
      &.disabled {
        cursor: auto;
        background: #0e0e0f;
        color: #4c4c58;
      }
    }
  }
}
