.music_player_container {
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  &.hide {
    transform: translateY(100vh);
  }
  &.show {
    transform: translateY(0vh);
  }

  .music_player_inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    .player_container {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .music_player_title_container {
        position: relative;
        color: white;
        margin-bottom: 10px;
        h2 {
          font-weight: 700;
          strong {
            font-weight: 700;
            color: #1dd960;
            display: inline-block;
          }
        }
      }
      .music_player_utility_container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #0000000f;
        border-radius: 100px;
        padding: 10px 20px;
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: white;
          border-right: 1px solid #0000000f;
          padding-right: 5px;
          margin-right: 5px;
          &:last-child {
            border-right: none;
            padding-right: 0px;
            margin-right: 0px;
          }
          img {
            filter: sepia(11) invert(0.6) grayscale(0) brightness(2.1);
            width: 19px;
          }
        }
      }
      .music_player_album_art_container {
        width: 300px;
        height: 300px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10000px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.03);
          opacity: 0.3;
          background: rgb(0 255 91 / 0%);
          filter: blur(100px);
          z-index: -1;
          width: 200%;
          height: 200%;
          border-radius: 10000px;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.03);
          border: 1px solid #1cd961;
          width: 100%;
          height: 100%;
          border-radius: 10000px;
        }
      }
    }
    .recent_container {
      width: 30%;
      padding: 0 10px;
      max-width: 500px;
      .section_title {
        color: white;
        margin-top: 70px;
        padding: 0 5px;
      }
      .item_container {
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px;
          transition: 0.25s;
          border-radius: 5px;
          cursor: pointer;
          .album_art_container {
            position: relative;
            > img {
              width: 50px;
              border-radius: 5px;
            }
            .sub {
              position: absolute;
              left: 0;
              bottom: -5px;
              filter: blur(10px);
              transform: scale(0.8);
              z-index: -1;
            }
          }
          .information_container {
            color: white;
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-right: 20px;
            .title_container {
              p {
                font-size: 14px;
                &:first-child {
                  // font-weight: 700;
                }
                &:last-child {
                  // font-size: 12px;
                  color: rgba(255, 255, 255, 0.507);
                }
              }
            }
            .function_container {
              display: flex;
              align-items: center;
              button {
                border-radius: 100px;
                padding: 3px;
                transition: 0.25s;
                cursor: pointer;
                img {
                  opacity: 0.4;
                  filter: invert(1);
                }
                &:hover {
                  background: rgba(0, 0, 0, 0.244);
                }
              }
            }
          }

          &:hover {
            background: rgba(255, 255, 255, 0.078);
          }
        }
      }
    }
  }

  .outer_album_art {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
    &::before {
      content: '';
      background: linear-gradient(
        360deg,
        rgb(0, 0, 0) 55%,
        rgb(20 238 83 / 43%) 220%
      );
      -webkit-backdrop-filter: blur(200px);
      backdrop-filter: blur(20px);
      width: 100vw;
      height: 100vh;
      /* z-index: 11; */
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.control_panel {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  /* padding-left: 200px; */
  background: rgba(2, 2, 2, 0.8705882353);
  border: 2px solid #1cd961;
  border-radius: 100px;
  box-shadow: 0 20px 20px -20px rgba(28, 217, 97, 0.6509803922);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 10000;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  z-index: 100000000;
  padding: 0;

  &.wide {
    width: 100%;
    bottom: 0px;
    padding: 20px 0;
    // background: transparent;
    // color: black;
    border-color: transparent;
    box-shadow: 0 20px 20px -20px transparent;
    border-radius: 0px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    .control_cont {
      .control_music {
        .control_music_desc {
          display: flex;
          align-items: center;
          .progress {
            width: 100%;
          }
        }
      }
    }
  }
  &.tight {
    width: 30%;
    // max-width: 400px;
    min-width: 300px;
    // width: -moz-fit-content;
    // width: fit-content;
  }

  &.show {
    transform: translate(-50%, 0vh);
  }
  &.hide {
    transform: translate(-50%, 30vh);
  }

  .volumeCont {
    display: none;
  }

  .control_cont {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    gap: 10px;

    .control_music {
      width: 60%;
      display: flex;
      align-items: center;
      gap: 10px;
      .control_music_desc {
        width: 300px;
        .info_container {
          margin-bottom: 10px;
          .singer {
            font-size: 14px;
            color: #1cd961;
            font-weight: 500;
            margin-bottom: 5px;
          }
          .title {
            font-size: 18px;
            font-weight: 700;
            line-height: 1;
          }
        }

        .progress {
          border-radius: 100px;
          height: 3px;
          width: 100px;
          background: rgb(255 255 255 / 18%);
          .bar {
            width: 20%;
            height: 100%;
            background: #339758;
            border-radius: 100px;
          }
        }
      }
      .album_art {
        width: 70px;
        border-radius: 100px;
      }
    }

    .control {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      // margin-top: 40px;
      i {
        // margin: 0 10px;
        background: transparent;
        transition: 0.25s;
        border-radius: 100px;
        padding: 2px;
        img {
          height: 100%;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.25);
        }
      }
      .timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;

        span {
          &:nth-child(1) {
            color: #1dd960;
          }
          color: #fff;
        }
      }

      .repeat {
        width: 20px;
        height: 25px;
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
      .repeat_one {
        width: 20px;
        height: 25px;
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
      .shuffle {
        width: 20px;
        height: 20px;
        transform: scale(1.5);
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
      .prev {
        width: 24px;
        height: 24px;
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
      .next {
        width: 24px;
        height: 24px;
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
      .play {
        width: 24px;
        height: 24px;
        // background-image: url(img/music/play.png);
        background-size: cover;
        transform: scale(2.8);
      }
      .stop {
        width: 24px;
        height: 24px;
        // background-image: url(img/music/play.png);
        background-size: cover;
        transform: scale(1.5);
      }
      .list {
        width: 20px;
        height: 20px;
        // background-image: url(img/music/10sec.png);
        background-size: cover;
      }
    }
  }
}
